eoe/books/CrayMsg_PG/entities/cray-ents/doctypes/docbook/docbook.dtd

<!-- ...................................................................... -->
<!-- This is the Cray Research, Inc., driver file for the Version 2.3-based -->
<!-- subset of docbook. The following parameter entity calls the original   --> 
<!-- DocBook V2.4 dtd: nkmelby                                              -->
<!-- 8-26-1997 DRD modified Status attrib to add DraftSGI and FinalSGI      -->
<!-- 9-24-1997 DRD modified dbhier.mod file to work around EBT mkbook       -->
<!--               marked-section bug                                       -->
<!-- 9-30-1997 DRD modified dbpool.mod file to revise content model for     -->
<!--               comment element to prohibit nesting of comment           -->
<!-- 11-11-1997 DRD modified dbhier.mod file to change content model of     -->
<!--                Preface to disallow IndexTerm elements from being used. -->
<!-- 11-11-1997 DRD modified content model of bookbiblio to enable optional -->
<!--                partnumber element to contain alternate publication     -->
<!--                number (an SGI-type number).                            -->
<!-- 1-7-1997 DRD modified local.command.attrib to enable specification of  -->
<!--              both uppercase and lowercase letters for case-sensitive   -->
<!--              references                                                -->
<!-- 1-8-1997 DRD modified dbpool.mod for change to admon.module to allow   -->
<!--              role attrib values to be restricted to ansi-iso           -->
<!--              (ANSI/ISO) or openmp (OpenMP)                             -->
<!-- 1-8-1997 DRD modified content model for SGI partnumber element to      -->
<!--              specify classcode, base, and version as subordinate elms  -->
<!-- 3-13-1998 DRD added sgi.helpid.attrib                                  -->
<!-- 4-7-1998 DRD modified glossary content model to include ubiq.mix       -->
<!--              for allowing IndexTerm                                    -->
<!-- 4-13-1998 DRD fixed minimization specified for EMPTY elements          -->
<!--
<!DOCTYPE DocBook PUBLIC  "-//Cray Research, Inc.//DTD DocBook V2.3-based Subset V1.1//EN" [
-->


<!-- Customization of DocBook DTD.
This area contains overrides of entity declarations.   -->

<!ENTITY % dbhier.redecl2.module  "INCLUDE"     >
<!ENTITY % dbpool.redecl.module  "INCLUDE"     >
<!ENTITY % dbclass.redecl.module "INCLUDE"     >
<!ENTITY % book.module         "IGNORE"        >
<!ENTITY % bookbiblio.module   "IGNORE"        >
<!ENTITY % set.module          "IGNORE"        >
<!ENTITY % set.content.module  "IGNORE"        >
<!ENTITY % setinfo.module      "IGNORE"        >
<!ENTITY % bookinfo.module     "IGNORE"        >
<!ENTITY % revhistory.module   "IGNORE"        >
<!ENTITY % revision.module     "IGNORE"        >
<!ENTITY % revremark.module    "IGNORE"        >
<!ENTITY % sect1.module        "IGNORE"        >
<!ENTITY % sect2.module        "IGNORE"        >
<!ENTITY % sect3.module        "IGNORE"        >
<!ENTITY % sect4.module        "IGNORE"        >
<!ENTITY % sect5.module        "IGNORE"        >
<!ENTITY % ackno.module        "IGNORE"        >
<!ENTITY % address.module      "IGNORE"        >
<!ENTITY % affiliation.module  "IGNORE"        >
<!ENTITY % author.module       "IGNORE"        >
<!ENTITY % authorblurb.module  "IGNORE"        >
<!ENTITY % authorgroup.module  "IGNORE"        >
<!ENTITY % authorinitials.module "IGNORE"      >
<!ENTITY % beginpage.module    "IGNORE"        >
<!ENTITY % bibliodiv.module    "IGNORE"        >
<!ENTITY % biblioentry.module  "IGNORE"        >
<!ENTITY % bibliography.module "IGNORE"        >
<!ENTITY % bibliomisc.module   "IGNORE"        >
<!ENTITY % bookbiblio.module   "IGNORE"        >
<!ENTITY % bridgehead.module   "IGNORE"        >
<!ENTITY % citation.module     "IGNORE"        >
<!ENTITY % citerefentry.module "IGNORE"        >
<!ENTITY % city.module         "IGNORE"        >
<!ENTITY % collab.module       "IGNORE"        >
<!ENTITY % collabname.module   "IGNORE"        >
<!ENTITY % confdates.module    "IGNORE"        >
<!ENTITY % confgroup.module    "IGNORE"        >
<!ENTITY % confnum.module      "IGNORE"        >
<!ENTITY % confsponsor.module  "IGNORE"        >
<!ENTITY % conftitle.module    "IGNORE"        >
<!ENTITY % contrib.module      "IGNORE"        >
<!ENTITY % corpauthor.module   "IGNORE"        >
<!ENTITY % corpname.module     "IGNORE"        >
<!ENTITY % country.module      "IGNORE"        >
<!ENTITY % edition.module      "IGNORE"        >
<!ENTITY % editor.module       "IGNORE"        >
<!ENTITY % email.module        "IGNORE"        >
<!ENTITY % epigraph.module     "IGNORE"        >
<!ENTITY % example.module      "IGNORE"        >
<!ENTITY % fax.module          "IGNORE"        >
<!ENTITY % firstname.module    "IGNORE"        >
<!ENTITY % formalpara.module   "IGNORE"        >
<!ENTITY % glossdef.module     "IGNORE"        >
<!ENTITY % honorific.module    "IGNORE"        >
<!ENTITY % informalequation.module "IGNORE"    >
<!ENTITY % informalexample.module  "IGNORE"    >
<!ENTITY % informaltable.module    "IGNORE"    >
<!ENTITY % invpartnumber.module    "IGNORE"    >
<!ENTITY % isbn.module         "IGNORE"        >
<!ENTITY % issn.module         "IGNORE"        >
<!ENTITY % issuenum.module     "IGNORE"        >
<!ENTITY % interface.module    "IGNORE"        >
<!ENTITY % interfacedefinition.module  "IGNORE">
<!ENTITY % jobtitle.module     "IGNORE"        >
<!ENTITY % lineage.module      "IGNORE"        >
<!ENTITY % listitem.module    "IGNORE"         >
<!ENTITY % literallayout.module        "IGNORE">
<!ENTITY % medialabel.module   "IGNORE"        >
<!ENTITY % msgentry.module     "IGNORE"        >
<!ENTITY % msginfo.module      "IGNORE"        >
<!ENTITY % orgdiv.module       "IGNORE"        >
<!ENTITY % orgname.module      "IGNORE"        >
<!ENTITY % otheraddr.module    "IGNORE"        >
<!ENTITY % othercredit.module  "IGNORE"        >
<!ENTITY % othername.module    "IGNORE"        >
<!ENTITY % pagenums.module     "IGNORE"        >
<!ENTITY % phone.module        "IGNORE"        >
<!ENTITY % pob.module          "IGNORE"        >
<!ENTITY % postcode.module     "IGNORE"        >
<!ENTITY % procedure.module    "IGNORE"        >
<!ENTITY % productname.module  "IGNORE"        >
<!ENTITY % productnumber.module        "IGNORE">
<!ENTITY % programlisting.module       "IGNORE">
<!ENTITY % pubsnumber.module   "IGNORE"        >
<!ENTITY % quote.module        "IGNORE"        >
<!ENTITY % screen.module       "IGNORE"        >
<!ENTITY % seriesinfo.module   "IGNORE"        >
<!ENTITY % seriesvolnums.module     "IGNORE"   >
<!ENTITY % sgmltag.module      "IGNORE"        >
<!ENTITY % shortaffil.module   "IGNORE"        >
<!ENTITY % sidebar.module      "IGNORE"        >
<!ENTITY % simpara.module      "IGNORE"        >
<!ENTITY % state.module        "IGNORE"        >
<!ENTITY % street.module       "IGNORE"        >
<!ENTITY % surname.module      "IGNORE"        >
<!ENTITY % symbol.module       "IGNORE"        >
<!ENTITY % table.module        "IGNORE"        >
<!ENTITY % toc.module          "IGNORE"        >
<!ENTITY % tocback.module      "IGNORE"        >
<!ENTITY % tocchap.module      "IGNORE"        >
<!ENTITY % tocentry.module     "IGNORE"        >
<!ENTITY % tocfront.mofule     "IGNORE"        >
<!ENTITY % toclevel1.module    "IGNORE"        >
<!ENTITY % toclevel2.module    "IGNORE"        >
<!ENTITY % toclevel3.module    "IGNORE"        >
<!ENTITY % toclevel4.module    "IGNORE"        >
<!ENTITY % toclevel5.module    "IGNORE"        >
<!ENTITY % tocpart.module      "IGNORE"        >
<!ENTITY % xref.module         "IGNORE"        >
<!ENTITY % lot.module          "IGNORE"        >
<!ENTITY % lotentry.module     "IGNORE"        >
<!ENTITY % artheader.module    "IGNORE"        >
<!ENTITY % article.module      "IGNORE"        >
<!ENTITY % chapter.module      "IGNORE"        >
<!ENTITY % docinfo.module      "IGNORE"        >
<!ENTITY % equation.module     "IGNORE"        >
<!ENTITY % glossary.module     "IGNORE"        >
<!ENTITY % link.module         "IGNORE"        >
<!ENTITY % para.module         "IGNORE"        >
<!ENTITY % publisher.module    "IGNORE"        >
<!ENTITY % refmeta.module      "IGNORE"        >
<!ENTITY % screenshot.module   "IGNORE"        >

<!-- changes to in-line elements to restrict elements allowed  -->
<!ENTITY % command.module      "IGNORE"        >
<!ENTITY % filename.module     "IGNORE"        >
<!ENTITY % firstterm.module    "IGNORE"        >
<!ENTITY % glossterm.module    "IGNORE"        >
<!ENTITY % keycap.module       "IGNORE"        >
<!ENTITY % literal.module      "IGNORE"        >
<!ENTITY % replaceable.module  "IGNORE"        >
<!ENTITY % userinput.module    "IGNORE"        >

<!-- end changes to in-line elements                            -->

<!ENTITY % width.attrib
                       "width (standard | wide)        standard" >
<!ENTITY % linespecific.attrib
               -- Format: whether element is assumed to contain significant white space --
               "Format         (yes | no)       no">    
      
<!ENTITY % cray.attrib
                       "Pubnumber      CDATA   #IMPLIED
                        Release        CDATA   #IMPLIED
                        Pubdate        CDATA   #IMPLIED
                        Platform       CDATA   #IMPLIED
                        Delivery       CDATA   #IMPLIED
                        Author         CDATA   #IMPLIED
                        Owner          CDATA   #IMPLIED"
                        >
<!ENTITY % sgi.helpid.attrib
                       "Helpid         CDATA   #IMPLIED" >

<!ENTITY % local.procedure.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.abstract.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.admon.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.example.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.equation.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.figure.attrib
                       "%cray.attrib;
                        %width.attrib"                 >
<!ENTITY % local.table.attrib
                       "%cray.attrib;"                 >
<!ENTITY % local.segmentedlist.attrib
                       "Orientation    (vertical | horizontal)       vertical
                       %cray.attrib;"                 >
<!ENTITY % local.command.attrib
                       "sectionref     (Blank | 1 | 1b-u | 1b | 1x-u | 1x | 1m-u | 1m | 2 | 3 | 3c-u | 3c | 3f-u | 3f | 3g-u | 3g | 3i-u | 3i | 3k-u | 3k | 3l-u | 3l | 3m-u | 3m | 3n-u | 3n | 3o-u | 3o | 3r-u | 3r | 3s-u | 3s | 3x-u | 3x | 4 | 4p-u | 4p | 5 | 5x-u | 5x | 6 | 7 | 7d-u | 7d | 7x-u | 7x | 8 | 8e-u | 8e ) Blank" >
<!ENTITY % local.graphic.attrib
                       "magnification NUMBER  #IMPLIED
			                 %width.attrib;
                       Scale (yes | no) #IMPLIED"       >
<!ENTITY % local.inlinegraphic.attrib
                       "magnification NUMBER   #IMPLIED
                        %width.attrib;
                        Scale (yes | no) #IMPLIED"       >
<!ENTITY % local.appendix.attrib
                       "Status (Draft | Final | DraftSGI | FinalSGI) #IMPLIED" >
<!ENTITY % local.index.attrib
                       "Status (Draft | Final | DraftSGI | FinalSGI) #IMPLIED" >
<!ENTITY % local.glossary.attrib
                       "Status (Draft | Final | DraftSGI | FinalSGI) #IMPLIED" >
<!ENTITY % local.chapter.attrib
                       "Status (Draft | Final | DraftSGI | FinalSGI) #IMPLIED" >
<!ENTITY % security.attrib
                       "Security       (Public | Private | Proprietary) #IMPLIED" >
<!ENTITY % fontsize.attrib
                       "Fontsize       (8pt | 9pt) #IMPLIED " >

<!ENTITY % local.glossterm.attrib
			"linkend    IDREF   #IMPLIED"		>



 <!-- End of entity declaration overrides.    -->

<!-- class redeclarations                    -->
<!ENTITY % index.class         "index"         >
<!ENTITY % nav.class   "toc | lot | index | glossary"  >
<!ENTITY % local.ndxterm.char.mix      "| string"      >
<!-- end of class redeclarations             -->


<!-- The following entities declared to allow ArborText's equation editor -->
<!ENTITY % ATIeqn1 PUBLIC      "-//ArborText//ENTITIES Equation1//EN">
%ATIeqn1;
<!ENTITY % atimath PUBLIC      "-//ArborText//ELEMENTS Math Equation Structures//EN">
%atimath;


<!ENTITY % inlineequation.content      "f"     >
<!ENTITY % equation.content            "fd"    >

<!-- additional graphic notation to support IslandDraw DRW files........-->
<!NOTATION DRW SYSTEM  "DRW"   >



<!ENTITY % orig-docbook PUBLIC "-//Davenport//DTD DocBook V2.4//EN">
%orig-docbook;

<!-- Modifications were made to the dbhier.mod and dbpool.mod files.   
These modifications were made to enable creation of a DocBook     
DTD subset specific to the needs of Cray Research. These          
modifications will be reviewed at the future release of DocBook   
to determine if they can be abandoned in favor of standard        
DocBook modifications that do not cause unexpected behavior.      
-->

<!-- Modification One: The redeclaration placeholder in dbhier.mod for
dbhier.redecl.module was moved to between refsect.title.content
model and the sect1.content model.                                
-->

<!-- Modification Two: A redeclaration placeholder for dbclass.redecl.module 
was added to the dbpool.mod file. The public identifier for this new entity is:
"-//Cray Research, Inc.//ELEMENTS DocBook Class and Element Redeclarations//EN"       %rdbclass;                              
-->

<!ELEMENT docbook o o (
Book
| Preface
| Chapter
| Appendix
| Glossary
| RefEntry
| Reference
| Section
| RefSect1
| RefSect2
| RefSect3
)      +(revst
       | revend | comment | newline)>


<!-- The following entity declared to allow ArborText's ElectronicReview
to function with DocBook nkmelby -->

<!--
<!ENTITY % ereview PUBLIC "-//USA-DOD//DTD SUP MIL-M-28001B EREVIEW//EN">
%ereview;
-->


<!-- Customization of DocBook V2.3.
This area contains new element and attribute declarations.     -->

<!ELEMENT bookbiblio   - -     (pubnumber, partnumber?, pubdate*, publisher)        >
<!ATTLIST bookbiblio
               %common.attrib;                 >
<!ELEMENT pubnumber    - -     (pubtype, stocknum, version)    >
<!ATTLIST pubnumber
               %common.attrib;                 >
<!ELEMENT pubtype      - -     (#PCDATA)                       >
<!ATTLIST pubtype
               %common.attrib;                 >
<!ELEMENT stocknum     - -     (#PCDATA)                       >
<!ATTLIST stocknum
               %common.attrib;                 >
<!ELEMENT version      - -     (#PCDATA)                       >
<!ATTLIST version
               %common.attrib;                 >

<!ELEMENT partnumber   - -     (classcode, base, version)      >
<!ATTLIST partnumber
               %common.attrib;                 >


<!ELEMENT classcode    - -     (#PCDATA)                       >
<!ATTLIST classcode
               %common.attrib;                 >


<!ELEMENT base         - -     (#PCDATA)                       >
<!ATTLIST base
               %common.attrib;                 >


<!ELEMENT collections  - - 	(#PCDATA)	>
<!ELEMENT bookinfo     - -     (bookbiblio, collections, copyright?, acknowledgements?, legalnotice*, newfeatures?, revhistory?, modespec*)                                   >
<!ATTLIST bookinfo
               %common.attrib;                 >
<!ELEMENT acknowledgements     - -     (legalnotice+)  >
<!ATTLIST acknowledgements
               %common.attrib;                 >
<!ELEMENT newfeatures  - -     (title, (para | (%list.class;))+)                      >
<!ATTLIST newfeatures
               %common.attrib;                 >
<!ELEMENT revhistory   - -     (revision+)                     >
<!ATTLIST revhistory
               %common.attrib;                 >
<!ELEMENT revision     - -     (revnumber, date, revremark+)   >
<!ATTLIST revision     
               %common.attrib;                 >

<!ELEMENT revremark    - -     ((#PCDATA | %word.char.class;)+)   >
<!ATTLIST revremark
               %common.attrib;                 >

<!ELEMENT artheader    - -     ((%formalobject.title.content;), subtitle?, artpagenums, abstract*)>
<!ATTLIST artheader
               %common.attrib;                 >

<!ELEMENT book         - -     ((%div.title.content;)?, bookinfo?, (toc, lof, lot)?, preface*, (((%chapter.class;)+, reference*) | part+ | reference+ | (%article.class)+), (%appendix.class;)*, glossary?, (%index.class;)*) +(%ubiq.mix;)>
<!ATTLIST book
               %common.attrib;                 
               %cray.attrib;                   
               Status  (Draft | Final | DraftSGI | FinalSGI ) "Draft"
               Security (Public | Private | Proprietary) "Private">

<!ELEMENT article      - -     (artheader, (%bookcomponent.content;), ((%nav.class;) | %appendix.class;)*)  +(%ubiq.mix;)>
<!ATTLIST article
               %common.attrib;                 
               %cray.attrib;                   >

<!ELEMENT chapter      - -     ((%bookcomponent.title.content;), (%bookcomponent.content;))    +(%ubiq.mix)>
<!ATTLIST chapter
               %common.attrib;
               %label.attrib;                 
               %cray.attrib;                   
               %sgi.helpid.attrib;
               %security.attrib;
               %local.chapter.attrib;>

<!ELEMENT section      - -     ((%sect.title.content;), (((%divcomponent.mix;)+, ((%refentry.class;)* | section*)) | (%refentry.class;)+ | section+))       +(%ubiq.mix;)>
<!ATTLIST section
                               %common.attrib;
                               %label.attrib;
                               %sgi.helpid.attrib;
                               %cray.attrib;   >

<!ELEMENT docinfo      - -     ((%div.title.content;), subtitle?, abstract*, revhistory?, legalnotice*)     -(%ubiq.mix;)   >
<!ATTLIST docinfo
               %common.attrib;                 >

<!ELEMENT equation     - -     ((%formalobject.title.content;)?, (%equation.content;))>
<!ATTLIST equation
               %common.attrib;
               %label.attrib;                  >

<!ELEMENT glossary     - -     ((%bookcomponent.title.content;)?, (%component.mix;)*, (glossdiv+ | glossentry+)) +(%ubiq.mix;)>
<!ATTLIST glossary
               %common.attrib;                 >

<!ELEMENT publisher    - -     (publishername)>
<!ATTLIST publisher
               %common.attrib;                 >

<!ELEMENT (toc | lof | lot)  - O     EMPTY   >
<!ATTLIST (toc | lof | lot)
               %common.attrib;                 >

<!ELEMENT refmeta      - -     (refentrytitle, manvolnum?, refmiscinfo*)>
<!ATTLIST refmeta
               %common.attrib;                 >

<!-- redefine table to make the title optional ............................. -->
<!ENTITY % bodyatt     "%label.attrib;"        -- add Label to main element -->
<!ENTITY % secur       "%common.attrib;"       -- add common atts to all -->
<!ENTITY % tblelm      "table"                 -- remove chart from table element -->
<!ENTITY % tblmdl      "((%formalobject.title.content;)?, (tgroup+))"
                                               -- make title an optional element-->
<!ENTITY % tblexpt     "-(%formal.class;) +(equation)"  -- exclude table -->
<!ENTITY % tblcon      "((%tabentry.mix;)+ | (%para.char.mix;)+)"
                                               -- allow either blocks or inlines-->
<!ENTITY % tblrowex    ""                      -- remove pgbrk exception on row-->
<!ENTITY % tblconex    ""                      -- remove pgbrk exception on entry-->
<!ENTITY % calstbl     PUBLIC  "-//Davenport//ELEMENTS CALS-Based DocBook Table Model V2.4//EN">
%calstbl;

<!-- redefine msgentry structure to place msginfo first .................... -->
<!ENTITY % local.msgentry.attrib       "">
<!ELEMENT msgentry     - -     (msginfo?, msg+, msgexplan+)>
<!ATTLIST msgentry
                               %common.attrib;
                               %local.msg.attrib;              >

<!-- redefine msginfo to add msgnumber and msgnumsub sub-elements .......... -->
<!ENTITY % local.msginfo.attrib        ""      >
<!ELEMENT msginfo      - -     ((msgnumber, msglevel?, msgorig?, msgaud*))>
<!ATTLIST msginfo      
                               %common.attrib;
                               %local.msginfo.attrib;          >
<!ELEMENT msgnumber    - -     (msgno, msgsubno?)            >
<!ATTLIST msgnumber
                               %common.attrib;                 >
<!ELEMENT msgno       - -     (#PCDATA)>
<!ATTLIST msgno                %common.attrib;                 >
<!ELEMENT msgsubno    - -     (#PCDATA)>
<!ATTLIST msgsubno            %common.attrib;                 >

<!-- redefine procedure to make step option and repeatable .......................-->
<!-- then step doesn't have to be the last element in a procedure ................-->
<!ENTITY local.procedure.attrib        ""      >
<!ELEMENT procedure    - -     ((%formalobject.title.content;)?, (%component.mix; | step)*)>
<!ATTLIST procedure
                               %common.attrib;
                               %local.procedure.attrib;        >

<!-- redefine example element so it no longer excludes %formal.class; ........... -->
<!ELEMENT example      - -     ((%formalobject.title.content;), (%example.mix;)+) -(example)>
<!ATTLIST example      
                               %label.attrib;
                               %common.attrib; 
                               > 



<!ELEMENT string       - -     (#PCDATA)      -(revst | revend | comment | indexterm | string) +(citetitle) >
<!ATTLIST string
               strname        CDATA   #IMPLIED     -- manual title --         
                                               >

<!ENTITY % local.para.attrib "">
<!ELEMENT para         - -     ((%para.char.mix; | %para.mix;)+) 
                               -(glosslist
                               | anchor)>
<!ATTLIST para
               %common.attrib;
               %local.para.attrib;             >

<!-- Redefine to make <para> a required element in a listitem ............ -->
<!ELEMENT listitem     - -     (para, (%component.mix;)*)              >
<!ATTLIST listitem             
                               %common.attrib;                         >


<!ELEMENT deflist      - -     ((%formalobject.title.content;)?, colheads?, deflistentry+)>
<!ATTLIST deflist
                               -- termlength: approximate length of term content that
                               should fit onto one line, in same units that colwidth
                               accepts --
                               termlength      (Standard | Narrow | Wide | Nextline)   "Standard"
                               %common.attrib;
                               %cray.attrib;   >

<!ELEMENT deflistentry - -     (term+, listitem)>
<!ATTLIST deflistentry         %common.attrib; >

<!ELEMENT colheads     - -     (head1, head2)  >
<!ATTLIST colheads
                               %common.attrib; >

<!ELEMENT (head1 | head2)      - -     ((%cptr.char.mix)+)>
<!ELEMENT (revst | revend | newline)       - O     EMPTY   >

<!-- redefine interface element to add more choices to class attribute -->

<!ELEMENT interface    - -     ((%cptr.char.mix;)+)    >
<!ATTLIST interface
                               %common.attrib;
                               class   (Button
                                       | Icon
                                       | Menu
                                       | Window)       #IMPLIED
                               %moreinfo.attrib;       >

<!-- redefine interfacedefinition element so it only contains interface -->

<!ELEMENT interfacedefinition  - -     ((interface+))>
<!ATTLIST interfacedefinition
                               %common.attrib;
                               %moreinfo.attrib;       >

<!-- redefine xref element so it is no longer an empty content element -->

<!ELEMENT xref         - -     (#PCDATA)       >
<!ATTLIST xref
                               %common.attrib;
                               %linkendreq.attrib;
                               pagnumber (yes | no)    yes
                               col    CDATA   #IMPLIED
                               book   CDATA   #IMPLIED       
                               >


<!-- redefine glossdef.module to include the string element ...................-->
<!ELEMENT glossdef     - -     ((%glossdef.mix;)+, glossseealso*)      +(string)>
<!ATTLIST glossdef
                               %common.attrib;

                     --Subject: one or more subject area keywords for searching--
                               Subject CDATA   #IMPLIED
                              >

<!-- redefinition of verbatim elements to modify the width attribute to ........-->
<!-- use exclusive values of (standard | wide) with a default to wide ..........-->
<!ELEMENT programlisting       - -     ((%programlisting.content;)+)   >
<!ATTLIST programlisting
                       %width.attrib;
                       %fontsize.attrib;
                       %linespecific.attrib;
                       %common.attrib;>
                       
<!ELEMENT literallayout        - -     ((lineannotation | %para.char.mix;)+)>
<!ATTLIST literallayout
                       %width.attrib;
                       %fontsize.attrib;
                       %linespecific.attrib;
                       %common.attrib;
                       >

<!ELEMENT screen       - -     ((%screen.content;)+)   >
<!ATTLIST screen
                       %width.attrib;
                       %fontsize.attrib;
                       %linespecific.attrib;
                       %common.attrib;
                       >

<!-- Redefinition of in-line elements to restrict (subset) those elements -->

<!-- redefine command to exclude: anchor | function | olink | ulink | interface | interfacedefinition | msgtext | userinput | subscript | superscript | link                            -->

<!ENTITY % local.command.attrib ""     >
<!ELEMENT command      - -     ((%cptr.char.mix;)+)    -(anchor | function | olink | ulink | interface | interfacedefinition | msgtext | userinput | subscript | superscript | link)    >
<!ATTLIST command
                               %common.attrib;
                               %moreinfo.attrib;
                               %local.command.attrib;          >

<!-- redefine filename to exclude: function | olink | ulink | link | filename | literal | command | structname | option | optional | keycap | interface | interfacedefinition | msgtext | userinput | subscript | superscript                                                 -->

<!ENTITY % local.filename.attrib ""    >
<!ELEMENT filename     - -     ((%cptr.char.mix;)+)    -(function | olink | ulink | link | filename | literal | command | structname | option | optional | keycap | interface | interfacedefinition | msgtext | userinput | subscript | superscript) >
<!ATTLIST filename
                               %common.attrib;
                               %moreinfo.attrib;
                               %local.filename.attrib;         >

<!ENTITY % local.firstterm.attrib "">
<!ELEMENT firstterm    - -     ((%word.char.mix;)+) +(%cptr.char.class;)>
<!ATTLIST firstterm
                       %linkend.attrib; --to GlossEntry or other explanation--
                       %common.attrib;
                       %local.firstterm.attrib;                >

<!-- redefine glossterm to exclude: footnoteref | function | interfacedefinition | msgtext | olink | option | revhistory | ulink | link | xref | glossterm | footnote | inlinegraphic | inlineequation | synopsis | cmdsynopsis | funcsynopsis | trademark                             -->
<!ENTITY % local.glossterm.attrib ""     >
<!ELEMENT glossterm    - -     ((%para.char.mix;)+)    -(footnoteref | function | interfacedefinition | msgtext | olink | option | revhistory | ulink | link | xref | glossterm | footnote | inlinegraphic | inlineequation | synopsis | cmdsynopsis | funcsynopsis | trademark)                            >
<!ATTLIST glossterm
                               %common.attrib;
                               %local.glossterm.attrib;        >

<!-- redefine keycap to exclude: function | olink | ulink | link, command, filename, interface, interfacedefinition, keycap, literal, msgtext, option, optional, replaceable, structname, userinput, subscript, superscript                 -->
<!ENTITY % local.keycap.attrib ""      >
<!ELEMENT keycap       - -     ((%cptr.char.mix;)+)    -(function | olink | ulink | link | command | filename | interface | interfacedefinition | keycap | literal | msgtext | option | optional | replaceable | structname | userinput | subscript | superscript)  >
<!ATTLIST keycap       
                               %common.attrib;
                               %moreinfo.attrib;
                               %local.keycap.attrib;           >

<!-- redefine literal to exclude: function | olink | ulink | link | option | optional | literal | filename | command | interface | interfacedefinition | msgtext | userinput | keycap                                             -->

<!ENTITY % local.literal.attrib ""     >
<!ELEMENT literal      - -     ((%cptr.char.mix;)+)    -(function | olink | ulink | link | option | literal | filename | command | interface | interfacedefinition | msgtext | userinput | keycap)      >
<!ATTLIST literal
                               %common.attrib;
                               %moreinfo.attrib;
                               %local.literal.attrib;          >

<!-- redefine replaceable to exclude: anchor | olink | ulink | link                      and add optional and literal -->
<!ENTITY % local.replaceable.attrib "" >
<!ELEMENT replaceable  - -     ((#PCDATA | optional | literal | %other.char.class | inlinegraphic)+)  >
<!ATTLIST replaceable
                               Class   (Command
                                       | Function
                                       | Option
                                       | Parameter)    #IMPLIED
                               %common.attrib;
                               %local.replaceable.attrib;      >

 
<!-- redefine userinput element to exclude: function | olink | ulink | anchor | link | interface | interfacedefinition | msgtext | option | structname |  userinput                                             -->

<!ENTITY % local.userinput.attrib ""   >
<!ELEMENT userinput    - -     ((%cptr.char.mix;)+)     -(function | olink | ulink | anchor | link | interface | interfacedefinition | msgtext | option | structname | userinput)   >
<!ATTLIST userinput
                               %common.attrib;
                               %moreinfo.attrib;
                               %local.userinput.attrib;        >
<!-- Redefine screenshot to allow an optional title ..........................-->
<!-- The screenshot and figure constructs should mirror each other ...........-->

<!ENTITY % local.screenshot.attrib "">
<!ELEMENT screenshot   - -     ((title, titleabbrev?)?, screeninfo?, graphic)  >
<!ATTLIST screenshot
                               %common.attrib;
                               %local.screenshot.attrib;       
                               %width.attrib;>

<!-- Redefine link to make linkend not required and to add an href attribute ...-->
<!ENTITY % local.link.attrib   ""      >
<!ELEMENT link         - -     ((%para.char.mix;)+)    >
<!ATTLIST link
                               %common.attrib;
                               -- endterm: pointer to linked-to object--
                               endterm IDREF   #IMPLIED
                               %linkend.attrib; --changed from linkendreq.attrib --
                               href    CDATA   #IMPLIED
                               type    CDATA   #IMPLIED
                               %local.link.attrib; >


                                                                
 
<!-- End of new element and attribute declarations     -->
<!-- End of Cray Research DocBook DTD driver file      -->
